<h1>Lista de recursos</h1>

<div class="table-responsive">
  <table class="table ">
    <thead class="bg-primary text-white">
      <tr>
        <th scope="col">Nombre </th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Ver</th>
      </tr>
    </thead>
    <% @topics.each do |topic| %>
      <tbody class="">
        <tr>
          <th scope="row"><%= topic.name %></th>
          <td><%= topic.description %></td>
          <td><%= topic.user.name %></td>
          <td><%= link_to "Ver más", topic, class:"btn btn-small btn-success"%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>