<section class="section-welcome">
  <body class="welcome">
    <div id="portada-movil">
      <header>
        <p style="text-align: center">
          <img src="/cover-sm.png" class="img-movil" alt="portada sport plus+" width="320" height="auto" />
        </p>
      </header>     
      <div class="col-xl-9 col-lg-10 mx-auto">
        <div class="bg-faded rounded p-3 ">
          <div class="">
            <h1 class="display-5">Hola <%= current_user.name %>!</h1>
            <p class="lead">Bienvenido a tu espacio de aprendizaje online, Espero aprendas mucho, y pongas en practica esos conocimientos</p>
            <hr class="my-2">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Guia Virtual |</span>
              <span class="section-heading-upper">Aprende &amp; Practica</span>
            </h2>
            <p class="lead">
              <%= link_to " Recursos", my_topics_path, class:"btn btn-sm btn-success"%>
            </p>
          </div>
          <img class="cover-lg" src="/cover-lg.png" alt="Cover index">
        </div>
      </div>
    </div>
    <section id="no-info-home" class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-3 ">
                <div class="">
                  <h1 class="display-5">Hola <%= current_user.name %>!</h1>
                  <p class="lead">Bienvenido a tu espacio de aprendizaje online, Espero aprendas mucho, y pongas en practica esos conocimientos</p>
                  <hr class="my-2">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Guia Virtual |</span>
                    <span class="section-heading-upper">Aprende &amp; Practica</span>
                  </h2>
                  <p class="lead">
                    <%= link_to " Recursos", my_topics_path, class:"btn btn-sm btn-success"%>
                  </p>
                </div>
                <img class="cover-lg" src="/cover-lg.png" alt="Cover index">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</section>




